[Unit]
Description=Gunicorn async asgi instance of the inference gateway service
After=network.target

[Service]
User=webportal
Group=webportal
WorkingDirectory=/home/webportal/inference-gateway
Environment=PATH=/home/webportal/inference-gateway/.venv/bin/
Environment="PYTHONUNBUFFERED=1"
ExecStartPre=+/bin/mkdir -p /var/log/inference-service
ExecStartPre=+/bin/chown webportal:webportal /var/log/inference-service
ExecStart=/bin/sh -c '/home/webportal/inference-gateway/.venv/bin/gunicorn -c deploy/gateway_asgi.config.py inference_gateway.asgi:application 2>>/var/log/inference-service/error.log | /usr/bin/rotatelogs -c -f -L /var/log/inference-service/out.log /var/log/inference-service/out.log.%%Y-%%m-%%d 86400'
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
LimitNOFILE=65535
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target